<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/register" method="POST">
      <div>
        <label for="username">Input username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="username"
        />
      </div>
      <div>
        <label for="password">Input password</label>
        <input
          type="password"
          id="password"
          placeholder="password"
          name="password"
        />
      </div>
      <button>Sign Up</button>
    </form>
  </body>
</html>
